@font-face {
    font-family: 'Harry Potter';
    src: url('../assets/fonts/harry.ttf');
}

@font-face {
    font-family: 'Wizard World';
    src: url('../assets/fonts/WizardWorldSimplified.ttf');
}

@font-face {
    font-family: "EB Garamond";
    src: url('../assets/fonts/EBGaramond-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
}

.landing {
    /* background-color: #1B1B19; */
    background: linear-gradient(rgba(27, 27, 25, 0.7),rgba(27, 27, 25, 0.9));
}

.bg-image {
    /* opacity: 0.4; */
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)); 
}

.header {
    /* background-image: url("../assets/images/landing-page-1.png"); */
    height: 100vh;
    opacity: 1 !important;
}

.title {
    font-family: 'Harry Potter';
    padding-top: 6vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #F2AC0D;
    font-size: 85px;
}

.info {
    padding-top: 6vh;
    color: #FFE4A5;
    font-family: "EB Garamond";
    text-align: center;
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 20px;
}

/* .how-to-container {
    margin-top: 4%;
    padding-top: 6%;
    background-color: rgba(25, 25, 25, 0.25);
    margin-left: 8%;
    margin-right: 8%;
} */

/* .how-to {
    font-family: "Wizard World";
    color: white;
    text-align: center;
    font-size: 20px;
} */

/* .instructions {
    padding-top: 8%;
    color: white;
    font-family: "EB Garamond";
    font-weight: 200;
    text-align: center;
    padding-bottom: 6%;
} */

.entrance {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 6vh;
    /* width: 50vh; */
    height: 25vh;
}

.lower-text {
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Wizard World';
    color: #FFE4A5;
    font-size: 14px;
    padding-bottom: 5%;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 27, 25);
}

.second .second-container {
    border-radius: 10px;
    padding: 0.5rem;
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(37, 37, 37, 0.6);
}

.second-container .title {
    text-align: center;
    padding-top: 1.5rem;
    color: #FFE4A5;
    font-size: 22px;
    font-family: 'Wizard World';
    padding-bottom: 1.5rem;
    padding-left: 2vh;
    padding-right: 2vh;
}

.second-container .text {
    font-family: "EB Garamond";
    color: #FFE4A5;
    text-align: center;
    padding-bottom: 1.2rem;
    font-size: 14px;
    
}

.second-container .text2 {
    font-family: "EB Garamond";
    color: #FFE4A5;
    text-align: center;
    padding-bottom: 1.2rem;
    font-size: 14px;
}

.second-container .text2 a {
    color: #FFE4A5;
}

.sized-box {
    height: 1.8rem;
}


.footer {
    background-color: rgb(28, 54, 49);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer .title {
    padding-top: 2vh;
    font-family: "Cormorant";
    color: white;
    font-size: 22px;
    font-weight: 500;
    width: 85%;
}

.footer .end {
    color: #B7CBC7;
    font-size: 12px;
    font-family: "Roboto";
}

.socials {
    padding: 0.5rem;
    width: 35%;
}

.sized-box-small {
    height: 1rem;
}

.horizontal-line {
    margin-top: 2.5vh;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
}